@import "variables";
%campos{
    flex:1;
    border: 1px solid $fourth-color;
    padding: 1rem;
}
.formulario{
    background: $primary-color ;
    padding: 5rem;
    .campo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        label{
            flex: 0 0 8rem;
        }
        input:not([type='submit']){
            @extend %campos;
        }
        textarea{
            @extend %campos;
            height: 20rem;
        }
    }
    .enviar{
        display: flex;
        justify-content: flex-end;
    }
    
}
@media (min-width:768px){
    .formulario{
        margin-top: -10rem;
    }
}