// C O L O R S
$primary-color:#ffffff;
$second-color:#000000;
$third-color:#e1e1e1;
$fourth-color:#784d3c;

// F O N T   F A M I L Y
$open:"Open Sans";
$pt:"PT Sans";

// P A T H S
$images:"../images";